<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="AvalaraReturnSigner.AvalaraReturnSigner">
        <endpoint address="" behaviorConfiguration="webEndPointBehavior" binding="webHttpBinding" name="webEndPoint" contract="AvalaraReturnSigner.IAvalaraReturnSigner" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webEndPointBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>